<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.model.dao.AreaDao">

    <!-- Select all Sido -->
    <select id="getSidoList" resultType="com.ssafy.enjoytrip.model.dto.Sido">
        SELECT sido_code, sido_name FROM sido
    </select>

    <!-- Select all Gugun for a given Sido code -->
    <select id="getGugunList" parameterType="int" resultType="com.ssafy.enjoytrip.model.dto.Gugun">
        SELECT gugun_code AS gugunCode, gugun_name AS gugunName, sido_code AS sidoCode FROM gugun WHERE sido_code = #{sidoCode}
    </select>


</mapper>
